<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. JohnDoeMan" formControlName="username">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. johndoe@gmail.com" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password Confirm</mat-label>
        <input matInput type="password" placeholder="" formControlName="passwordConfirm">
    </mat-form-field>

    <!--comprueba si todo ha sido validado y luego publica los datos del formulario -->
    <button color="accent" [disabled]="!signupForm.valid" mat-raised-button type="submit">
        <span>Sign up</span>
    </button>
</form>